College Automated.json
{
  "name": "College Automated",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -304,
        16
      ],
      "id": "6558dfe0-e377-4cfc-a4be-98bc672b0461",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "19823aa9-c6cc-41f9-9f74-e334c35a69bd",
              "name": "today_date",
              "value": "={{$now.toISODate()}}",
              "type": "string"
            },
            {
              "id": "7f893d4a-2a74-4ed0-8a0f-604330970f79",
              "name": "today_day",
              "value": "={{$now.format('cccc')}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        16
      ],
      "id": "c46040f0-5faa-4ecc-b81a-77fb2e870205",
      "name": "Date"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1CjoQO-IXvOf6XgA5z6Ku62Ps5q2XaijM7v2EGodpyCU",
          "mode": "list",
          "cachedResultName": "COLLEGE_MASTER",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CjoQO-IXvOf6XgA5z6Ku62Ps5q2XaijM7v2EGodpyCU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Assignments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CjoQO-IXvOf6XgA5z6Ku62Ps5q2XaijM7v2EGodpyCU/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        592,
        216
      ],
      "id": "bfba4d8d-dc97-44e6-b47b-e4c18e1eb4b4",
      "name": "Assignments",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7rHfcKJO21eyEjJW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1CjoQO-IXvOf6XgA5z6Ku62Ps5q2XaijM7v2EGodpyCU",
          "mode": "list",
          "cachedResultName": "COLLEGE_MASTER",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CjoQO-IXvOf6XgA5z6Ku62Ps5q2XaijM7v2EGodpyCU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1486522306,
          "mode": "list",
          "cachedResultName": "Exams",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CjoQO-IXvOf6XgA5z6Ku62Ps5q2XaijM7v2EGodpyCU/edit#gid=1486522306"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        368,
        144
      ],
      "id": "aca71573-3458-4747-8f6d-51157e8b9d06",
      "name": "Exams",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7rHfcKJO21eyEjJW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1CjoQO-IXvOf6XgA5z6Ku62Ps5q2XaijM7v2EGodpyCU",
          "mode": "list",
          "cachedResultName": "COLLEGE_MASTER",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CjoQO-IXvOf6XgA5z6Ku62Ps5q2XaijM7v2EGodpyCU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 773673391,
          "mode": "list",
          "cachedResultName": "Class_Schedule",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CjoQO-IXvOf6XgA5z6Ku62Ps5q2XaijM7v2EGodpyCU/edit#gid=773673391"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        144,
        16
      ],
      "id": "8d1d719f-2fd2-4c44-9c40-31c69fb02919",
      "name": "Class Schedule",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7rHfcKJO21eyEjJW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7ba8395d-64bc-47ff-9c9b-748b0cf0f20b",
              "leftValue": "={{ $('Assignments').item.json.Days_Left }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1040,
        0
      ],
      "id": "3f4d3edb-14e5-4d8d-a6fd-0b0fe056add4",
      "name": "Filter Urgent Assignments"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7ba8395d-64bc-47ff-9c9b-748b0cf0f20b",
              "leftValue": "={{ $('Exams').item.json.Days_Left }}",
              "rightValue": 7,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1040,
        248
      ],
      "id": "34972420-635c-42e4-8f72-c269edb8208a",
      "name": "Filter Urgent Assignments1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7ba8395d-64bc-47ff-9c9b-748b0cf0f20b",
              "leftValue": "={{ $('Class Schedule').item.json.Attendance_Percentage }}",
              "rightValue": "={{ $('Class Schedule').item.json.Required_Attendance }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1040,
        584
      ],
      "id": "956aea0a-01e5-442d-ae91-337ae3bdecf8",
      "name": "Filter Upcoming Exams"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1264,
        464
      ],
      "id": "ef4aae59-25be-4082-a32c-b82e7cb207e1",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1264,
        224
      ],
      "id": "d7aa03e4-93f4-464d-ba80-8a6b6e30ee00",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "795080d8-9081-4fda-b006-45147c0f3a06",
              "leftValue": "={{$json[\"Day\"]}}",
              "rightValue": "={{$json[\"Day\"]}}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        816,
        264
      ],
      "id": "27d6172f-e186-4d64-87ac-d2c55c34855f",
      "name": "Filter Today’s Classes"
    },
    {
      "parameters": {
        "jsCode": "let classes = [];\nlet assignments = [];\nlet exams = [];\nlet warnings = [];\n\nitems.forEach(item => {\n  if (item.json.Start_Time) {\n    classes.push(`• ${item.json.Subject} (${item.json.Start_Time}–${item.json.End_Time})`);\n  }\n\n  if (item.json.Task_Name) {\n    assignments.push(`• ${item.json.Task_Name} (${item.json.Days_Left} days left)`);\n  }\n\n  if (item.json.Exam_Date) {\n    exams.push(`• ${item.json.Subject} (${item.json.Days_Left} days left)`);\n  }\n\n  if (item.json.Attendance_Percentage) {\n    warnings.push(`• ${item.json.Subject} attendance below required`);\n  }\n});\n\nreturn [{\n  json: {\n    email_body: `\n🎓 College Daily Briefing\n\n📚 Classes Today:\n${classes.length ? classes.join(\"\\n\") : \"• None\"}\n\n📝 Urgent Assignments:\n${assignments.length ? assignments.join(\"\\n\") : \"• None\"}\n\n📖 Upcoming Exams:\n${exams.length ? exams.join(\"\\n\") : \"• None\"}\n\n⚠️ Warnings:\n${warnings.length ? warnings.join(\"\\n\") : \"• None\"}\n`\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        240
      ],
      "id": "7c359511-d857-430a-851a-5a5c928bd89b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "htfsh12345@gmail.com",
        "subject": "=🎓 College Briefing — {{$now.format('MMMM Do')}}",
        "message": "={{ $json.email_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1712,
        240
      ],
      "id": "70b694b6-124d-409a-aecd-9cf358749e1d",
      "name": "Send a message",
      "webhookId": "80e34b9e-67fb-478a-92a5-df753cae0151",
      "credentials": {
        "gmailOAuth2": {
          "id": "zcFJM9x1VZTl6Jw6",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "daaf606b-644d-4709-b113-0711097b2e1c",
              "leftValue": "={{ $json.row_number }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        816,
        -192
      ],
      "id": "01d2e8ec-c049-4068-b100-77f44686c264",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "htfsh12345@gmail.com",
        "subject": "Action Required!",
        "message": "There are no rows in your google sheet or there is problem with credentials!",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1040,
        -192
      ],
      "id": "6af97d28-dbb1-4af3-abca-a3bff7f3c044",
      "name": "Send a message1",
      "webhookId": "1f34ea23-cc17-41a5-a682-9668a3410d0e",
      "credentials": {
        "gmailOAuth2": {
          "id": "zcFJM9x1VZTl6Jw6",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Getting All the Data Required",
        "height": 512,
        "width": 624
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        104,
        -136
      ],
      "typeVersion": 1,
      "id": "8bff404c-38a4-43a6-9b1c-5683840a415d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Incase of Error ",
        "height": 224,
        "width": 368,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        792,
        -256
      ],
      "typeVersion": 1,
      "id": "a0ad987a-8b03-41c4-8f40-594cd41ddb8d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Getting Todays Date\n",
        "height": 240,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -152,
        -64
      ],
      "typeVersion": 1,
      "id": "80936739-9157-452f-b47d-3e58e68d671d",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Filtering Info\n",
        "height": 736,
        "width": 400,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        776,
        8
      ],
      "typeVersion": 1,
      "id": "f4a87840-65c6-461a-85ff-5d5ca273c556",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Getting and Sending email",
        "height": 288,
        "width": 512
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1392,
        112
      ],
      "typeVersion": 1,
      "id": "4435af98-28e6-4b55-a0a4-fb041a413407",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1CjoQO-IXvOf6XgA5z6Ku62Ps5q2XaijM7v2EGodpyCU",
          "mode": "list",
          "cachedResultName": "COLLEGE_MASTER",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CjoQO-IXvOf6XgA5z6Ku62Ps5q2XaijM7v2EGodpyCU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1894225743,
          "mode": "list",
          "cachedResultName": "Sended_Data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CjoQO-IXvOf6XgA5z6Ku62Ps5q2XaijM7v2EGodpyCU/edit#gid=1894225743"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "time": "={{ $('Schedule Trigger').first().json['Readable time'] }}",
            "day": "={{ $('Schedule Trigger').first().json['Day of week'] }}",
            "days": "1",
            "email_body": "={{ $('Code in JavaScript').item.json.email_body }}",
            "email_subject": "🎓 College Briefing — {{$now.format('MMMM Do')}}"
          },
          "matchingColumns": [
            "days"
          ],
          "schema": [
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "day",
              "displayName": "day",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email_body",
              "displayName": "email_body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_subject",
              "displayName": "email_subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "days",
              "displayName": "days",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1936,
        240
      ],
      "id": "058dbe8d-828a-427d-b27c-38bc7db4bdc9",
      "name": "Class Schedule1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7rHfcKJO21eyEjJW",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {
    "Class Schedule": [
      {
        "json": {
          "row_number": 2,
          "Class_ID": "C-001",
          "Subject": "DBMS",
          "Day": "Monday",
          "Start_Time": "09:00",
          "End_Time": "10:30",
          "Attendance_Percentage": 85,
          "Required_Attendance": 75,
          "Status": "OK"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "row_number": 3,
          "Class_ID": "C-002",
          "Subject": "OOP",
          "Day": "Tuesday",
          "Start_Time": "11:00",
          "End_Time": "12:30",
          "Attendance_Percentage": 78,
          "Required_Attendance": 75,
          "Status": "OK"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "row_number": 4,
          "Class_ID": "C-003",
          "Subject": "Mathematics",
          "Day": "Thursday",
          "Start_Time": "08:30",
          "End_Time": "10:00",
          "Attendance_Percentage": 70,
          "Required_Attendance": 75,
          "Status": "At Risk"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Exams": [
      {
        "json": {
          "row_number": 2,
          "Exam_ID": "E-001",
          "Subject": "DBMS",
          "Exam_Type": "Midterm",
          "Exam_Date": "2026-02-20",
          "Syllabus": "Ch 1–4 (ER, Normalization, SQL)",
          "Days_Left": 22,
          "Status": "Upcoming",
          "Created_At": "2026-01-28"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "row_number": 3,
          "Exam_ID": "E-002",
          "Subject": "OOP",
          "Exam_Type": "Quiz",
          "Exam_Date": "In-class quiz on pointers",
          "Syllabus": "2026-02-02",
          "Days_Left": 4,
          "Status": "Upcoming",
          "Created_At": "2026-01-28"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "row_number": 2,
          "Exam_ID": "E-001",
          "Subject": "DBMS",
          "Exam_Type": "Midterm",
          "Exam_Date": "2026-02-20",
          "Syllabus": "Ch 1–4 (ER, Normalization, SQL)",
          "Days_Left": 22,
          "Status": "Upcoming",
          "Created_At": "2026-01-28"
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "row_number": 3,
          "Exam_ID": "E-002",
          "Subject": "OOP",
          "Exam_Type": "Quiz",
          "Exam_Date": "In-class quiz on pointers",
          "Syllabus": "2026-02-02",
          "Days_Left": 4,
          "Status": "Upcoming",
          "Created_At": "2026-01-28"
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "row_number": 2,
          "Exam_ID": "E-001",
          "Subject": "DBMS",
          "Exam_Type": "Midterm",
          "Exam_Date": "2026-02-20",
          "Syllabus": "Ch 1–4 (ER, Normalization, SQL)",
          "Days_Left": 22,
          "Status": "Upcoming",
          "Created_At": "2026-01-28"
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "row_number": 3,
          "Exam_ID": "E-002",
          "Subject": "OOP",
          "Exam_Type": "Quiz",
          "Exam_Date": "In-class quiz on pointers",
          "Syllabus": "2026-02-02",
          "Days_Left": 4,
          "Status": "Upcoming",
          "Created_At": "2026-01-28"
        },
        "pairedItem": {
          "item": 2
        }
      }
    ],
    "Assignments": [
      {
        "json": {
          "row_number": 2,
          "Assignment_ID": "A-001",
          "Subject": "DBMS",
          "Task_Name": "Assignment 3",
          "Description": "Normalization questions + ER diagram",
          "Deadline": "2026-02-10",
          "Priority": "High",
          "Status": "Pending",
          "Days_Left": 12,
          "Reminder_Level": "Normal",
          "Created_At": "2026-01-28"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "row_number": 3,
          "Assignment_ID": "A-002",
          "Subject": "OOP",
          "Task_Name": "Lab Task 5",
          "Description": "File handling program in C++",
          "Deadline": "2026-02-05",
          "Priority": "Medium",
          "Status": "Pending",
          "Days_Left": 7,
          "Reminder_Level": "Normal",
          "Created_At": "2026-01-28"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "row_number": 4,
          "Assignment_ID": "A-003",
          "Subject": "Mathematics",
          "Task_Name": "Homework 4",
          "Description": "Differential equations practice",
          "Deadline": "2026-02-01",
          "Priority": "Low",
          "Status": "Pending",
          "Days_Left": 3,
          "Reminder_Level": "Urgent",
          "Created_At": "2026-01-28"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "row_number": 2,
          "Assignment_ID": "A-001",
          "Subject": "DBMS",
          "Task_Name": "Assignment 3",
          "Description": "Normalization questions + ER diagram",
          "Deadline": "2026-02-10",
          "Priority": "High",
          "Status": "Pending",
          "Days_Left": 12,
          "Reminder_Level": "Normal",
          "Created_At": "2026-01-28"
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "row_number": 3,
          "Assignment_ID": "A-002",
          "Subject": "OOP",
          "Task_Name": "Lab Task 5",
          "Description": "File handling program in C++",
          "Deadline": "2026-02-05",
          "Priority": "Medium",
          "Status": "Pending",
          "Days_Left": 7,
          "Reminder_Level": "Normal",
          "Created_At": "2026-01-28"
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "row_number": 4,
          "Assignment_ID": "A-003",
          "Subject": "Mathematics",
          "Task_Name": "Homework 4",
          "Description": "Differential equations practice",
          "Deadline": "2026-02-01",
          "Priority": "Low",
          "Status": "Pending",
          "Days_Left": 3,
          "Reminder_Level": "Urgent",
          "Created_At": "2026-01-28"
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "row_number": 2,
          "Assignment_ID": "A-001",
          "Subject": "DBMS",
          "Task_Name": "Assignment 3",
          "Description": "Normalization questions + ER diagram",
          "Deadline": "2026-02-10",
          "Priority": "High",
          "Status": "Pending",
          "Days_Left": 12,
          "Reminder_Level": "Normal",
          "Created_At": "2026-01-28"
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "row_number": 3,
          "Assignment_ID": "A-002",
          "Subject": "OOP",
          "Task_Name": "Lab Task 5",
          "Description": "File handling program in C++",
          "Deadline": "2026-02-05",
          "Priority": "Medium",
          "Status": "Pending",
          "Days_Left": 7,
          "Reminder_Level": "Normal",
          "Created_At": "2026-01-28"
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "row_number": 4,
          "Assignment_ID": "A-003",
          "Subject": "Mathematics",
          "Task_Name": "Homework 4",
          "Description": "Differential equations practice",
          "Deadline": "2026-02-01",
          "Priority": "Low",
          "Status": "Pending",
          "Days_Left": 3,
          "Reminder_Level": "Urgent",
          "Created_At": "2026-01-28"
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "row_number": 2,
          "Assignment_ID": "A-001",
          "Subject": "DBMS",
          "Task_Name": "Assignment 3",
          "Description": "Normalization questions + ER diagram",
          "Deadline": "2026-02-10",
          "Priority": "High",
          "Status": "Pending",
          "Days_Left": 12,
          "Reminder_Level": "Normal",
          "Created_At": "2026-01-28"
        },
        "pairedItem": {
          "item": 3
        }
      },
      {
        "json": {
          "row_number": 3,
          "Assignment_ID": "A-002",
          "Subject": "OOP",
          "Task_Name": "Lab Task 5",
          "Description": "File handling program in C++",
          "Deadline": "2026-02-05",
          "Priority": "Medium",
          "Status": "Pending",
          "Days_Left": 7,
          "Reminder_Level": "Normal",
          "Created_At": "2026-01-28"
        },
        "pairedItem": {
          "item": 3
        }
      },
      {
        "json": {
          "row_number": 4,
          "Assignment_ID": "A-003",
          "Subject": "Mathematics",
          "Task_Name": "Homework 4",
          "Description": "Differential equations practice",
          "Deadline": "2026-02-01",
          "Priority": "Low",
          "Status": "Pending",
          "Days_Left": 3,
          "Reminder_Level": "Urgent",
          "Created_At": "2026-01-28"
        },
        "pairedItem": {
          "item": 3
        }
      },
      {
        "json": {
          "row_number": 2,
          "Assignment_ID": "A-001",
          "Subject": "DBMS",
          "Task_Name": "Assignment 3",
          "Description": "Normalization questions + ER diagram",
          "Deadline": "2026-02-10",
          "Priority": "High",
          "Status": "Pending",
          "Days_Left": 12,
          "Reminder_Level": "Normal",
          "Created_At": "2026-01-28"
        },
        "pairedItem": {
          "item": 4
        }
      },
      {
        "json": {
          "row_number": 3,
          "Assignment_ID": "A-002",
          "Subject": "OOP",
          "Task_Name": "Lab Task 5",
          "Description": "File handling program in C++",
          "Deadline": "2026-02-05",
          "Priority": "Medium",
          "Status": "Pending",
          "Days_Left": 7,
          "Reminder_Level": "Normal",
          "Created_At": "2026-01-28"
        },
        "pairedItem": {
          "item": 4
        }
      },
      {
        "json": {
          "row_number": 4,
          "Assignment_ID": "A-003",
          "Subject": "Mathematics",
          "Task_Name": "Homework 4",
          "Description": "Differential equations practice",
          "Deadline": "2026-02-01",
          "Priority": "Low",
          "Status": "Pending",
          "Days_Left": 3,
          "Reminder_Level": "Urgent",
          "Created_At": "2026-01-28"
        },
        "pairedItem": {
          "item": 4
        }
      },
      {
        "json": {
          "row_number": 2,
          "Assignment_ID": "A-001",
          "Subject": "DBMS",
          "Task_Name": "Assignment 3",
          "Description": "Normalization questions + ER diagram",
          "Deadline": "2026-02-10",
          "Priority": "High",
          "Status": "Pending",
          "Days_Left": 12,
          "Reminder_Level": "Normal",
          "Created_At": "2026-01-28"
        },
        "pairedItem": {
          "item": 5
        }
      },
      {
        "json": {
          "row_number": 3,
          "Assignment_ID": "A-002",
          "Subject": "OOP",
          "Task_Name": "Lab Task 5",
          "Description": "File handling program in C++",
          "Deadline": "2026-02-05",
          "Priority": "Medium",
          "Status": "Pending",
          "Days_Left": 7,
          "Reminder_Level": "Normal",
          "Created_At": "2026-01-28"
        },
        "pairedItem": {
          "item": 5
        }
      },
      {
        "json": {
          "row_number": 4,
          "Assignment_ID": "A-003",
          "Subject": "Mathematics",
          "Task_Name": "Homework 4",
          "Description": "Differential equations practice",
          "Deadline": "2026-02-01",
          "Priority": "Low",
          "Status": "Pending",
          "Days_Left": 3,
          "Reminder_Level": "Urgent",
          "Created_At": "2026-01-28"
        },
        "pairedItem": {
          "item": 5
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date": {
      "main": [
        [
          {
            "node": "Class Schedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Class Schedule": {
      "main": [
        [
          {
            "node": "Exams",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assignments": {
      "main": [
        [
          {
            "node": "Filter Today’s Classes",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exams": {
      "main": [
        [
          {
            "node": "Assignments",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Urgent Assignments": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Urgent Assignments1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Upcoming Exams": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Today’s Classes": {
      "main": [
        [
          {
            "node": "Filter Urgent Assignments",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter Urgent Assignments1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter Upcoming Exams",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Class Schedule1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "2422ae32-878a-435c-bed1-a52ea43b59d2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d4e41ac00f47d48db81622a42173403a2c3150258a9fa8d8d121acaeccc607f"
  },
  "id": "Y82Vsml9XcolpediHbB7c",
  "tags": []
}